<p>User email: <%= @user.email %></p>

<p>Recent Votes:</p> 
<% @votes.each do |vote| %>
  <%= vote.poll.title %>
  <ul>
    <li><%= vote.poll_choice.content %></li> 
  </ul>
<% end %>
<%= will_paginate @votes %>
