<h1 class="page-title text-center"><%= user_signed_in? ? "My Account" : "" %></h1>
<p>User email: <%= @user.email %></p>

<p class="text-center page-sub-title">Recent Votes:</p> 
<div>
  <% @votes.each do |vote| %>
    <%= render "polls/poll", poll: vote.poll %>
  <% end %>
  <%= will_paginate @votes %>
</div>
