<div id="<%= dom_id poll %>">
  <div>
    <p><strong>User: </strong><%= poll.user_id %></p>
    <p><strong>Title: </strong><%= poll.title %></p>
    <% poll.poll_choices.each do |choice| %>
      <p class="pl-2">- <%= choice.content %></p>
    <% end %>
  </div>

</div>
