<h1 class="page-title text-center">Polls</h1>

<% if user_signed_in? %>
  <%= link_to "New poll", new_user_poll_path(current_user.id), class: "btn btn-primary mb-2" %>
<% end %>

<div id="polls">
  <% @polls.each do |poll| %>
    <%= render poll %>
    <p>
      <%= link_to "Show this poll", poll %>
    </p>
  <% end %>
  <%= will_paginate @polls %>
</div>


