.site-title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.3em;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.site-title:hover {
  color: var(--secondary-color);
}

.site-description {
  color: var(--secondary-color);
  margin: 0;
}

.site-title, .site-description {
  line-height: 1;
}

.site-header {
  background-color: var(--background-color);
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--line-separator-color);
}

.site-header-bottom {
  border-color: var(--primary-color);
  border-width: 0 0 3px;
  border-style: solid;
  padding: 15px 0;
}

.navigation-bar {
  display: block;
  width: 100%;

  ul {
    list-style: none;
    text-transform: capitalize;
  }

  li {
    position: relative;
    margin: 0 .5rem 0 .5rem;
  }

  a {
    color: var(--secondary-color);
    text-decoration: none;
    background-color: transparent;
  }

  a:hover {
    color: var(--primary-color);
  }
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
}

#primary-menu {
  flex-wrap: wrap;
}
