.byline {
  color: var(--secondary-color);
  font-size: .8rem;
  font-weight: 400;
  padding-top: 0;
  margin-bottom: .2rem;
  a {
    text-decoration: none;
    color: var(--author-color);
  }

  a:hover {
    color: var(--secondary-color);
  }
}

.poll_title {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 0;
}

.poll-choice-button {
  padding: .8rem;
  padding-left: 2rem;
  margin: .25rem;
  margin-left: 0rem;
  width: 100%;
  text-align: start;
  text-decoration: none;
  color: var(--secondary-color);
}

.poll-choices-table {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
